<% if li.user == current_user %>
	<%= div_for li do %>
		<h4>
			<%= link_to li.title, edit_post_path(li) %> |
			<%= link_to 'View', li, class: 'admin-view' %>
			<%= link_to 'Delete', li, method: :delete, remote: true %>
		</h4>
	<% end %>
<% end %>