$blue: #88ACDB;

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	z-index: 10;
	nav {
		display: inline;
		float: left;
		ul {
			padding-left: 0;
			padding-right: 0;
			li {
				display: inline-block;
				margin-left: 50px;
			}
		}
	}
	ul.profile {
		display: inline-table;
		position: relative;
		float: right;
		padding-left: 0;
		padding-right: 0;
		li {
			width: 125px;
			margin-right: 50px;
			text-align: right;
			ul {
				display: none;
				float: left;
				margin: 0;
				padding: 0;
				li {
					display: block;
					text-align: right;
					a {
						color: $blue;
						&:hover {
							color: #000;
						}
					}
				}
			}
			&:hover > ul {
				display: block;
			}
		}
	}
	ul.login {
		float: right;
		li {
			display: inline-block;
			margin-right: 25px;
			&:last-child {
				margin-right: 50px;
			}
		}
	}
}

.alert {
	display: block;
	text-align: center;
	background-color: $blue;
	margin: 75px 200px 25px;
	padding: 3px 0;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}