// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #88ACDB;

html {
	font-size: 10px; // 1em = 10px
}

body {
		font-size: 1.8em;
    font-weight: 300;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #2b2b2b;
    margin-top: 25px;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4d4d4d;
    font-weight: 300;
    img {
    	margin: 0;
    }
}

ul {
	list-style-type: none;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
    color: #333;
}

small {
    font-size: 80%;
}

a {
	color: #333;
  text-decoration: none;
  outline: 0;
	transition-property: all;
	transition-duration: .5s;
	-webkit-transition-timing-function: cubic-bezier(0.13,0.44,0,0.63);
	-moz-transition-timing-function: cubic-bezier(0.13,0.44,0,0.63);
	-ms-transition-timing-function: cubic-bezier(0.13,0.44,0,0.63);
	-o-transition-timing-function: cubic-bezier(0.13,0.44,0,0.63);
	transition-timing-function: cubic-bezier(0.13,0.44,0,0.63);
  &:link, &:visited, &:hover, &:active {
  	text-decoration: none;
  }
	&:hover, &:focus {
		color: #000;
	}
}

.btn {
	background-color: $blue;
	padding: 5px 25px;
	color: #fff;
	font-size: 1.3em;
	margin: 15px 0;
	border: 1px solid $blue;
	transition-property: all;
	transition-duration: .5s;
	-webkit-transition-timing-function: cubic-bezier(0.13,0.44,0,0.63);
	-moz-transition-timing-function: cubic-bezier(0.13,0.44,0,0.63);
	-ms-transition-timing-function: cubic-bezier(0.13,0.44,0,0.63);
	-o-transition-timing-function: cubic-bezier(0.13,0.44,0,0.63);
	transition-timing-function: cubic-bezier(0.13,0.44,0,0.63);
	&:hover, &:active {
		color: $blue;
		background-color: #fff;
		border: 1px solid $blue;
		outline: none;
	}
	&:focus {
		outline: none;
	}
}

.admin-controls {
	font-size: 1em;
	margin: 0;
	position: absolute;
	bottom: 33px;
	left: 356px;
}

// Show and Index Views

section.posts, article.post {
	max-width: 550px;
	margin: 50px auto 75px;
	h1, h2 {
		margin-bottom: -15px;
	}
	h4 {
		color: $blue;
		a {
			color: $blue;
			&:hover {
				color: #000;
			}
		}
	}
	span.date {
		float: right;
	}
	blockquote {
		border-left: 10px solid $blue;
		padding-left: 20px;
		margin: 0;
		p {
			color: #777;
		}
	}
	a.continue {
		color: $blue;
		&:hover {
			color: #000;
		}
	}
	.edit-post {
		position: fixed;
		top: 147px;
		left: 151px;
	}
	.delete-post {
		position: fixed;
		top: 191px;
		left: 151px;
	}
}

// New and Edit View

section.form {
	max-width: 550px;
	margin: 50px auto;
	#post_title {
		border: none;
		outline: none;
		width: 100%;
		padding: 0;
	}
	#post_content {
		border: none;
		outline: none;
		resize: none;
		width: 100%;
		height: 450px;
		padding: 0;
	}
	img.markdown {
		position: relative;
		right: 75px;
		bottom: 450px;
		opacity: 0.1;
	}
	.controls {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 100px;
		width: 100%;
		border-top: 1px solid $blue;
	}
	.submit-btn {
		position: absolute;
		margin: 0;
		bottom: 33px;
		margin-left: 1000px;
		font-size: 1em;
	}
	#post_slug {
		outline: none;
		border: 1px solid $blue;
		color: $blue;
		padding: 5px 5px;
		position: absolute;
		bottom: 33px;
		margin-left: 738px;
		width: 230px;
	}
	input[type="radio"] {  
    display: none;
	} 
	label:before {
		content: "";  
    display: inline-block;  
  	padding: 5px 25px;
    margin-right: 10px; 
    background-color: $blue;
    border: 1px solid $blue;
    color: #fff;
	}
	label[for="post_draft_false"]:before {
		content: "Publish";
		position: absolute;
		bottom: 33px;
		right: 552px;
	}
	label[for="post_draft_true"]:before {
		content: "Idea";
		position: absolute;
		bottom: 33px;
		left: 489px;
	}
	input[type=radio]:checked + label[for="post_draft_false"]:before {  
    content: "\2713  Publish";  
    color: #fff;
    text-align: center;
	}
	input[type=radio]:checked + label[for="post_draft_true"]:before {  
    content: "\2713  Idea";  
    color: #fff;
    text-align: center;
	} 
}

//Admin View
section.admin {
	form#new_post {
		margin: 100px 40px 0px;
		#post_title {
			border: 1px solid $blue;
			outline: none;
			width: 300px;
			margin: 10px 0 10px;
			padding: 10px;
		}
	}
	div.posts {
		margin-left: 40px;
	}
}



